In [1]:
import requests
from bs4 import BeautifulSoup
import pymongo 
from pymongo import MongoClient
# connect to    MongoDB
import pandas as pd



client = pymongo.MongoClient("mongodb+srv://savitridani:hi123123@ca2project.86620gg.mongodb.net/?retryWrites=true&w=majority")



db = client["coronavirus"]
print("h")
collection = db["cases"]
print(client)

h
MongoClient(host=['ac-mrujklt-shard-00-02.86620gg.mongodb.net:27017', 'ac-mrujklt-shard-00-01.86620gg.mongodb.net:27017', 'ac-mrujklt-shard-00-00.86620gg.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-n259fb-shard-0', tls=True)

In [17]:

# scrape the data
url = "https://www.worldometers.info/coronavirus/"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# find the table with the data
table = soup.find("table", {"id": "main_table_countries_today"})

# loop through each row in the table and extract the data
rows = table.find_all("tr")
for row in rows:
    cells = row.find_all("td")

    if len(cells) > 0:
        print(cells[1].text.strip())
        print(cells[2].text.strip())
        print(cells[3].text.strip().replace('+', ''))
        print(cells[4].text.strip())
        print(cells[5].text.strip())
        print(cells[6].text.strip())
        print(cells[7].text.strip())
        print(cells[8].text.strip())
        
        
        
        country = cells[1].text.strip()
        total_cases = cells[2].text.strip()
        new_cases = cells[3].text.strip().replace('+', '')
        total_deaths = cells[4].text.strip()
        new_deaths = cells[5].text.strip().replace('+', '')
        total_recovered = cells[6].text.strip()
        new_recovered = cells[7].text.strip().replace('+', '')
        active_cases=cells[8].text.strip()
        cases_per_million = cells[10].text.strip()
        deaths_per_million = cells[11].text.strip()
        population = cells[14].text.strip() 
        # create a dictionary with the data
        data = {
            "country/continent": country,
            "total_cases": total_cases,
            "new_cases": new_cases,
            "total_deaths": total_deaths,
            "new_deaths": new_deaths,
            "total_recovered": total_recovered,
            "new_recovered":new_recovered,
            "active_cases": active_cases,
            "cases_per_million": cases_per_million,
            "deaths_per_million": deaths_per_million,
            "population":population
        }

        # insert the data into MongoDB
    
        if((country!="Total:") and (country!="")):
            collection.insert_one(data)

North America
125,871,777
187
1,624,449
+8
121,530,242
+3,865
2,717,086
Asia
215,750,617
12,549
1,542,180
+10
200,079,375
+12,943
14,129,062
Europe
248,146,244

2,032,963

243,889,254
+16,693
2,224,027
South America
68,405,289

1,352,990

66,423,575

628,724
Oceania
14,055,939

26,824

13,878,704

150,411
Africa
12,813,923

258,672

12,081,548

473,703

721

15

706

0
World
685,044,510
12,736
6,838,093
+18
657,883,404
+33,485
20,323,013
USA
106,376,396

1,157,022

104,206,409

1,012,965
India
44,768,172

531,000

44,200,079

37,093
France
39,851,372

165,857

39,550,411

135,104
Germany
38,368,891

171,411

38,133,000
+7,100
64,480
Brazil
37,319,254

700,556

36,249,161

369,537
Japan
33,527,217

74,110

21,725,273

11,727,834
S. Korea
30,930,504
12,444
34,342
+10
30,715,408
+10,275
180,754
Italy
25,715,384

189,262

25,393,597

132,525
UK
24,448,729

209,396

24,239,332
+2,863
1
Russia
22,721,610

397,604

22,095,237

228,769
Turkey
17,232,066

102,174

N/A
N/A
N/A
Spain
13,798,747

120,426

13,645,949

32,372
Vietnam
11,527,859

43,186

10,615,098

869,575
Australia
11,352,930

19,933

11,291,664

41,333
Taiwan
10,239,998

19,005

10,220,624
+2,668
369
Argentina
10,044,957

130,472

9,914,485

0
Netherlands
8,610,372

22,992

8,579,796
+522
7,584
Iran
7,592,255

145,391

7,342,490

104,374
Mexico
7,553,847
187
333,603
+8
6,801,678
+2,628
418,566
Indonesia
6,751,662

161,057

6,584,006

6,599
Poland
6,504,194

119,423

5,335,940

1,048,831
Colombia
6,363,058

142,690

6,186,006

34,362
Austria
6,046,931

22,183

6,008,485

16,263
Greece
5,965,643

36,582

5,917,274
+1,964
11,787
Portugal
5,576,583

26,450

5,545,432
+1,409
4,701
Ukraine
5,465,954

111,676

5,315,684

38,594
Chile
5,273,877

64,497

5,206,417

2,963
Malaysia
5,052,337

36,982

5,004,043

11,312
Israel
4,816,924

12,416

4,798,473

6,035
Belgium
4,782,863

34,115

4,710,417
+2,584
38,331
DPRK
4,772,813

74

4,772,739

0
Thailand
4,728,967

33,940

4,692,636

2,391
Czechia
4,636,212

42,701

4,589,366

4,145
Canada
4,634,277

52,121

4,557,156
+1,237
25,000
Peru
4,495,182

219,882

4,272,233

3,067
Switzerland
4,399,088

14,452

4,378,012

6,624
Philippines
4,083,842

66,425

4,008,022

9,395
South Africa
4,075,101

102,595

3,912,506

60,000
Romania
3,380,891

67,961

3,291,878

21,052
Denmark
3,178,960

8,420

3,169,399

1,141
Hong Kong
2,885,724

13,486

2,870,214

2,024
Sweden
2,702,703

23,912

2,675,722
+146
3,069
Serbia
2,524,670

17,996

2,494,165

12,509
Iraq
2,465,545

25,375

2,439,497

673
Singapore
2,298,689

1,727

2,149,583

147,379
New Zealand
2,286,481

4,045

2,271,682

10,754
Hungary
2,199,764

48,811

2,146,693

4,260
Bangladesh
2,038,053

29,446

1,998,448

10,159
Slovakia
1,865,818

21,123

1,843,945

750
Georgia
1,833,502

17,019

1,776,548

39,935
Jordan
1,746,997

14,122

1,731,007

1,868
Ireland
1,708,435

8,782

1,695,720

3,933
Pakistan
1,580,204
51
30,652

1,538,689

10,863
Norway
1,481,760

5,213

1,475,320

1,227
Finland
1,468,123

9,097

1,455,695
+151
3,331
Kazakhstan
1,410,484
54
13,848

1,383,020

13,616
Slovenia
1,342,068

7,100

1,328,006

6,962
Lithuania
1,316,056

9,644

1,301,845

4,567
Bulgaria
1,301,475

38,282

1,260,290

2,903
Morocco
1,272,679

16,296

1,256,151

232
Croatia
1,271,276

18,091

1,252,694

491
Guatemala
1,245,794

20,188

1,224,766

840
Lebanon
1,235,453

10,881

1,087,587

136,985
Costa Rica
1,226,248

9,326

860,711

356,211
Bolivia
1,196,261

22,375

1,164,926

8,960
Tunisia
1,152,033

29,363

N/A
N/A
N/A
Cuba
1,112,915

8,530

1,104,286

99
Ecuador
1,059,529

36,017

1,022,992

520
UAE
1,058,979

2,349

1,040,046

16,584
Uruguay
1,036,159

7,621

1,027,930

608
Panama
1,034,730

8,612

1,025,167

951
Mongolia
1,007,915

2,179

1,005,728

8
Nepal
1,001,877

12,020

989,413

444
Belarus
994,037

7,118

985,592

1,327
Latvia
977,060

6,291

970,327

442
Saudi Arabia
836,878

9,635

822,191

5,052
Azerbaijan
830,367

10,197

819,670

500
Paraguay
808,943

19,902

N/A
N/A
N/A
Bahrain
718,152

1,559

715,916

677
Sri Lanka
672,092

16,835

655,244

13
Kuwait
665,386

2,570

660,237

2,579
Dominican Republic
660,937

4,384

644,785

11,768
Cyprus
656,904

1,350

652,317

3,237
Myanmar
634,101

19,490

614,596

15
Palestine
621,008

5,404

615,445

159
Moldova
618,827

12,086

504,142

102,599
Estonia
616,829

2,971

524,990

88,868
Venezuela
552,483

5,856

546,350

277
Egypt
515,882

24,613

442,182

49,087
Libya
507,229

6,437

500,769

23
Qatar
502,992

689

500,792

1,511
Ethiopia
500,731

7,573

487,720

5,438
Réunion
486,588

921

418,572

67,095
Honduras
472,485

11,111

N/A
N/A
N/A
Armenia
448,458

8,743

435,162

4,553
Bosnia and Herzegovina
402,573

16,325

379,084

7,164
Oman
399,449

4,628

384,669

10,152
North Macedonia
347,672

9,667

337,068

937
Zambia
343,753

4,058

339,530

165
Kenya
342,988

5,688

337,274

26
Albania
334,701

3,602

329,407

1,692
Botswana
329,837

2,801

327,027

9
Luxembourg
297,757

1,133

288,991

7,633
Montenegro
290,512

2,816

286,986

710
Brunei
283,345

225

243,601

39,519
Algeria
271,613

6,881

182,898

81,834
Nigeria
266,665

3,155

259,938

3,572
Zimbabwe
264,555

5,681

258,484

390
Uzbekistan
252,071

1,637

241,486

8,948
Mozambique
233,334

2,242

228,805

2,287
Martinique
229,807

1,098

N/A
N/A
N/A
Laos
218,037

758

N/A
N/A
N/A
Afghanistan
211,759

7,896

192,510

11,353
Iceland
209,191

229

N/A
N/A
N/A
Kyrgyzstan
206,832

2,991

196,406

7,435
Guadeloupe
202,163

1,012

N/A
N/A
N/A
El Salvador
201,785

4,230

179,410

18,145
Trinidad and Tobago
191,157

4,379

186,724

54
Maldives
185,894

311

163,687

21,896
Ghana
171,527

1,462

170,012

53
Namibia
171,222

4,090

167,099

33
Uganda
170,605

3,632

100,431

66,542
Jamaica
154,644

3,529

102,678

48,437
Cambodia
138,726

3,056

135,669
+1
1
Rwanda
133,194

1,468

131,647

79
Cameroon
124,834

1,970

122,640

224
Malta
118,133

832

116,641

660
Barbados
107,332

582

106,739

11
Angola
105,331

1,934

103,342

55
Channel Islands
101,717

228

101,321

168
French Guiana
98,041

420

11,254

86,367
DRC
95,945

1,464

84,489

9,992
Senegal
88,978

1,971

86,998

9
Malawi
88,717

2,686

85,641

390
Ivory Coast
88,308

834

87,468

6
Suriname
82,495

1,404

N/A
N/A
N/A
New Caledonia
79,916

314

79,596

6
French Polynesia
78,219

649

N/A
N/A
N/A
Eswatini
74,323

1,425

72,824

74
Guyana
73,120

1,298

71,818

4
Belize
70,782

688

70,085

9
Fiji
68,917

883

67,022

1,012
Madagascar
68,105

1,424

66,566

115
Sudan
63,922

5,034

58,621

267
Mauritania
63,668

997

62,441

230
Cabo Verde
63,281

413

62,786

82
Bhutan
62,649

21

61,564

1,064
Syria
57,508

3,164

54,344

0
Burundi
53,706

38

53,569

99
Seychelles
50,937

172

50,750

15
Gabon
48,981

306

48,674

1
Andorra
47,930

165

47,563

202
Papua New Guinea
46,835

670

43,982

2,183
Curaçao
45,986

295

44,720

971
Aruba
44,114

236

42,438

1,440
Tanzania
42,959

846

N/A
N/A
N/A
Mayotte
42,008

188

N/A
N/A
N/A
Mauritius
41,898

1,043

40,159

696
Togo
39,469

290

39,169

10
Guinea
38,280

467

37,757

56
Isle of Man
38,008

116

N/A
N/A
N/A
Bahamas
37,491

833

36,366

292
Lesotho
34,790

723

25,980

8,087
Faeroe Islands
34,658

28

N/A
N/A
N/A
Haiti
34,218

860

33,216

142
Mali
33,133

743

32,299

91
Cayman Islands
31,472

37

8,553

22,882
Saint Lucia
30,028

409

29,095

524
Benin
28,014

163

27,847

4
Somalia
27,334

1,361

13,182

12,791
Micronesia
25,929

65

N/A
N/A
N/A
Congo
25,375

386

24,006

983
Solomon Islands
24,575

153

N/A
N/A
N/A
San Marino
23,873

123

23,721

29
Timor-Leste
23,423

138

23,102

183
Burkina Faso
22,056

396

21,596

64
Liechtenstein
21,437

91

21,345

1
Gibraltar
20,550

113

16,579

3,858
Grenada
19,683

238

19,358

87
Bermuda
18,860

165

18,685

10
Nicaragua
18,491

225

4,225

14,041
South Sudan
18,368

138

18,115

115
Tajikistan
17,786

125

17,264

397
Equatorial Guinea
17,229

183

16,907

139
Tonga
16,814

13

15,638

1,163
Samoa
16,737

31

1,605

15,101
Monaco
16,178

67

15,992

119
Marshall Islands
16,081

17

15,954

110
Dominica
15,760

74

15,673

13
Djibouti
15,690

189

15,427

74
CAR
15,368

113

15,200

55
Gambia
12,598

372

12,189

37
Saint Martin
12,280

63

1,399

10,818
Vanuatu
12,014

14

11,976

24

Greenland
11,971

21

2,761

9,189
Yemen
11,945

2,159

9,124

662
Caribbean Netherlands
11,682

38

10,476

1,168
Sint Maarten
11,030

92

10,905

33
Eritrea
10,189

103

10,086

0
Niger
9,931

312

8,890

729
St. Vincent Grenadines
9,601

124

9,472

5
Guinea-Bissau
9,350

176

8,929

245
Antigua and Barbuda
9,106

146

8,954

6
Comoros
9,089

161

8,885

43
Liberia
8,090

295

7,783

12
Sierra Leone
7,762

126

N/A
N/A
N/A
Chad
7,695

194

4,874

2,627
British Virgin Islands
7,305

64

N/A
N/A
N/A
Cook Islands
7,050

2

7,038

10
Saint Kitts and Nevis
6,598

48

6,549

1
Turks and Caicos
6,565

38

6,509

18
Sao Tome and Principe
6,500

79

6,358

63
Palau
5,997

9

5,988

0
St. Barth
5,478

6

N/A
N/A
N/A
Nauru
5,393

1

5,347

45
Kiribati
5,014

18

2,703

2,293
Anguilla
3,904

12

3,879

13
Macao
3,515

121

3,393

1
Saint Pierre Miquelon
3,452

2

2,449

1,001
Wallis and Futuna
3,427

7

438

2,982
Tuvalu
2,805





2,805
Saint Helena
2,166



2

2,164
Falkland Islands
1,930



1,930

0
Montserrat
1,403

8

1,376

19
Niue
800



797

3
Diamond Princess
712

13

699

0
Vatican City
29



29

0
Western Sahara
10

1

9

0
MS Zaandam
9

2

7

0
Tokelau
5





5
China
503,302

5,272

379,053

118,977
Total:
125,871,777
187
1,624,449
+8
121,530,242
+3,865
2,717,086
Total:
215,750,617
12,549
1,542,180
+10
200,079,375
+12,943
14,129,062
Total:
248,146,244

2,032,963

243,889,254

2,224,027
Total:
68,405,289

1,352,990

66,423,575

628,724
Total:
14,055,939

26,824

13,878,704

150,411
Total:
12,813,923

258,672

12,081,548

473,703
Total:
721

15

706

0
Total:
685,044,510
12,736
6,838,093
+18
657,883,404
+33,485
20,323,013

In [18]:
ireland_data = collection.find_one({"country/continent": "Ireland"})
ireland_population = ireland_data["population"]
print("Ireland population:", ireland_population)

Ireland population: 5,020,199

In [19]:
data = collection.find()

# Create a pandas dataframe
df = pd.DataFrame(list(data))

# Print the dataframe
print(df.head())
df

                        _id country/continent  total_cases new_cases  \
0  64352b130eb8ab84e722c570     North America  125,871,777       187
1  64352b140eb8ab84e722c571              Asia  215,750,617    12,549
2  64352b140eb8ab84e722c572            Europe  248,146,244
3  64352b140eb8ab84e722c573     South America   68,405,289
4  64352b140eb8ab84e722c574           Oceania   14,055,939

  total_deaths new_deaths total_recovered new_recovered active_cases  \
0    1,624,449          8     121,530,242         3,865    2,717,086
1    1,542,180         10     200,079,375        12,943   14,129,062
2    2,032,963                243,889,254        16,693    2,224,027
3    1,352,990                 66,423,575                    628,724
4       26,824                 13,878,704                    150,411

  cases_per_million deaths_per_million population
0
1
2
3
4

,_id,country/continent,total_cases,new_cases,total_deaths,new_deaths,total_recovered,new_recovered,active_cases,cases_per_million,deaths_per_million,population
0,64352b130eb8ab84e722c570,North America,"125,871,777",187,"1,624,449",8,"121,530,242","3,865","2,717,086",,,
1,64352b140eb8ab84e722c571,Asia,"215,750,617","12,549","1,542,180",10,"200,079,375","12,943","14,129,062",,,
2,64352b140eb8ab84e722c572,Europe,"248,146,244",,"2,032,963",,"243,889,254","16,693","2,224,027",,,
3,64352b140eb8ab84e722c573,South America,"68,405,289",,"1,352,990",,"66,423,575",,"628,724",,,
4,64352b140eb8ab84e722c574,Oceania,"14,055,939",,"26,824",,"13,878,704",,"150,411",,,
...,...,...,...,...,...,...,...,...,...,...,...,...
233,64352b310eb8ab84e722c659,Vatican City,29,,,,29,,0,"36,295",,799
234,64352b310eb8ab84e722c65a,Western Sahara,10,,1,,9,,0,16,2,"626,161"
235,64352b310eb8ab84e722c65b,MS Zaandam,9,,2,,7,,0,,,
236,64352b310eb8ab84e722c65c,Tokelau,5,,,,,,5,"3,628",,"1,378"
237,64352b310eb8ab84e722c65d,China,"503,302",,"5,272",,"379,053",,"118,977",347,4,"1,448,471,400"

In [20]:
print(df)

                          _id country/continent  total_cases new_cases  \
0    64352b130eb8ab84e722c570     North America  125,871,777       187
1    64352b140eb8ab84e722c571              Asia  215,750,617    12,549
2    64352b140eb8ab84e722c572            Europe  248,146,244
3    64352b140eb8ab84e722c573     South America   68,405,289
4    64352b140eb8ab84e722c574           Oceania   14,055,939
..                        ...               ...          ...       ...
233  64352b310eb8ab84e722c659      Vatican City           29
234  64352b310eb8ab84e722c65a    Western Sahara           10
235  64352b310eb8ab84e722c65b        MS Zaandam            9
236  64352b310eb8ab84e722c65c           Tokelau            5
237  64352b310eb8ab84e722c65d             China      503,302

    total_deaths new_deaths total_recovered new_recovered active_cases  \
0      1,624,449          8     121,530,242         3,865    2,717,086
1      1,542,180         10     200,079,375        12,943   14,129,062
2      2,032,963                243,889,254        16,693    2,224,027
3      1,352,990                 66,423,575                    628,724
4         26,824                 13,878,704                    150,411
..           ...        ...             ...           ...          ...
233                                      29                          0
234            1                          9                          0
235            2                          7                          0
236                                                                  5
237        5,272                    379,053                    118,977

    cases_per_million deaths_per_million     population
0
1
2
3
4
..                ...                ...            ...
233            36,295                               799
234                16                  2        626,161
235
236             3,628                             1,378
237               347                  4  1,448,471,400

[238 rows x 12 columns]